{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h3>{{ album.name }}</h3>
  <p>{{ album.description }}</p>
  <div class="row">
    {% for photo in album.photos.all %}
      <div class="col-md-3 mb-3">
        <div class="card">
          <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.caption }}">
          <div class="card-body p-2">
            <small class="text-muted">{{ photo.caption }}</small>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No photos in this album yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
